@page "/animations/{id:guid}"
@model CAFFShop.Api.Pages.Animations.AnimationDetailsModel
@{

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/AnimationDetails.css" type="text/css" />
</head>
<body>
    <h1>@Model.AnimationDetails.Name</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
							<div class="card">
								@if (Model.AnimationDetails.PreviewFile != null)
								{
									<img class="w-100 card-img-top" src="/previews/@Model.AnimationDetails.PreviewFile">
								}
								else
								{
									<img class="w-100 card-img-top" src="/images/placeholder.png">
								}
								<div class="card-body">
									<div class="d-flex justify-content-between">
										<strong>Feltöltötte</strong>
										@Model.AnimationDetails.AuthorName
									</div>
									<div class="d-flex justify-content-between">
										<strong>Feltöltés ideje</strong>
										@Model.AnimationDetails.CreationTime
									</div>
								</div>
							</div>
                
            </div>
            <div class="col">
                <div class="card mb-5">
                    @if (!Model.AnimationDetails.CanDownloadCAFF)
                    {
                        <div class="card-header">
                            <div class="animation-detail-container">
                                <strong>Ár</strong>
                                @Model.AnimationDetails.Price Ft
                            </div>
                        </div>

                    }

                    <div class="card-body d-flex justify-content-center">
                        @if (Model.AnimationDetails.CanDownloadCAFF)
                        {
											  <form method="post" asp-page-handler="DownloadAnimation">
												  <div asp-validation-summary="All" class="col-12 text-danger text-center"></div>
												  <button class="btn btn-success">Letöltés</button>
												  <input type="hidden" name="id" value="@Model.AnimationDetails.Id" />
											  </form>
                        }
                        else
                        {
                            <a href="/animations/@(Model.AnimationDetails.Id)/purchase" class="btn btn-primary">Vásárlás</a>
                        }

                    </div>

                </div>
                <div class="card mt-10">
                    <div class="card-header">
                        <strong>Leírás</strong>
                    </div>
                    <div class="card-body">
                        @Model.AnimationDetails.Description
                    </div>

                </div>
            </div>

        </div>
        <div  class="d-flex justify-content-center">
            <div class="container comments-container">
                <h3>Kommentek</h3>

                @if (Model.identityService.IsAuthenticated())
                {
                    <form method="post">
                        <div class="mb-10">
                            <textarea name="comment" rows="10" class="form-control col-12"></textarea>
                        </div>

                        <div class="comment-submit-container">
                            <button name="action" value="commentSubmit" class="btn btn-primary" type="submit">Küldés</button>
                        </div>

                    </form>

                }



                @if (Model.AnimationDetails.Comments.Count() == 0)
                {
                    <div class="d-flex justify-content-center no-comment-container row">
                        <h4>No komment</h4>
                    </div>

                }


                @foreach (var comment in Model.AnimationDetails.Comments)
                {
                    <div class="row">
                        <div class="card comment-card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <div class="card-text">
                                    @comment.UserName
                                </div>
                                @if (Model.identityService.IsAdmin())
                                {
                                <form method="post">
                                    <button asp-page-handler="DeleteComment" asp-route-commentId="@comment.Id" type="submit" class="btn btn-outline-danger">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>
                                    </button>
                                </form>
                                }
                            </div>
                            <div class="card-body">@comment.Text</div>
                            <div class="card-footer">@comment.CreationTime</div>
                        </div>


                    </div>
                }

            </div>

        </div>

    </div>


</body>

</html>







        }
