@page "/animations/{id:guid}"
@model CAFFShop.Api.Pages.Animations.AnimationDetailsModel
@{

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/AnimationDetails.css" type="text/css" />
</head>
<body>
    <h1>@Model.AnimationDetails.Name</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <img class="w-100 card-img-top" src="/previews/@Model.AnimationDetails.PreviewFile">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <strong>Feltöltötte</strong>
                            @Model.AnimationDetails.AuthorName
                        </div>
                        <div class="d-flex justify-content-between">
                            <strong>Feltöltés ideje</strong>
                            @Model.AnimationDetails.CreationTime
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col">
                <div class="card mb-5">
                    <div class="card-header">
                        <div class="animation-detail-container">
                            <strong>Ár</strong>
                            @Model.AnimationDetails.Price
                        </div>
                    </div>
                    <div class="card-body d-flex justify-content-center">
                        @if (Model.AnimationDetails.CanDownloadCAFF)
                        {
                            <a href="#" class="btn btn-success">Letöltés</a>
                        }
                        else
                        {
                            <a href="/animations/@(Model.AnimationDetails.Id)/purchase" class="btn btn-primary">Vásárlás</a>
                        }

                    </div>

                </div>
                <div class="card mt-10">
                    <div class="card-header">
                        <strong>Leírás</strong>
                    </div>
                    <div class="card-body">
                        @Model.AnimationDetails.Description
                    </div>

                </div>
            </div>

        </div>
        <div class="comments-container">
            <h3>Kommentek</h3>

            @if (Model.AnimationDetails.Comments.Count() == 0)
            {
                <div class="row">
                    <h4>No komment</h4>
                </div>
                
            }

            @foreach (var comment in Model.AnimationDetails.Comments)
            {
                <div class="row">
                    <div class="card comment-card">
                        <div class="card-header">ddddd</div>
                        <div class="card-body">dddd</div>
                        <div class="card-footer">dddd</div>
                    </div>

                </div>
            }

        </div>

    </div>


</body>

</html>







        }
